* {

margin: 0;
padding: 0;  
}
body {
            font-family: sans-serif, Arial, Helvetica, 'Times New Roman', Times, serif;
            margin: 20px;
            background-color: #f4f4f4;
}

.galery {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
/* estilo para pantallas pequeñas */
@media screen and (max-width: 768px) and (orientation: landscape) {
} 
.galery > div { /* Contenedor de las cajas */
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
        }
        .box {
            border: 1px solid #ddd;
            padding: 15px;
            border-radius: 5px;
            text-align: center;
            width: 150px; /* Ancho fijo para las cajas */
            background-color: #fafafa;
            transition: transform 0.1s ease-in-out;
            cursor: pointer; /* Indica que es clickeable */
        }
        .box:hover {
            transform: translateY(-5px); /* Pequeño efecto al pasar el mouse */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .box img {
            max-width: 100%;
            height: auto;
            border-radius: 4px;
            margin-bottom: 10px;
        }
        .box p {
            font-weight: bold;
            color: #555;
            margin: 0;
        }
    
legend {
  background-color: rgb(180, 228, 201);
  max-block-size: 25%;
  padding: 0.5rem;
  margin: 0.5rem;

}
 
legend:hover {
  background-color: rgb(83, 126, 243);
  color: rgb(252, 252, 252);
  font-weight:700;
  transition: all 0.2s ease-in-out;
}

div {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(180, 228, 201);
  

}  
img {
margin: 0.2%;
}

img:hover {
  transform: scale(1.3);
  transition: all 0.2s ease-in-out;
  
}

h1 {
  margin: 2.5%;
  text-align: center;
  font-style: unset
  
  
}  
h1:hover {
transform: scale(1.1);
background-color: rgb(180, 228, 201);
 
}
  
.box {
display:inline-block;

}
label {
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
 
}
input {
  display: block;
  margin: 0.2rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(39, 126, 77); background-color: rgb(180, 228, 201);
}
input:hover {
background:  rgb(83, 126, 243);
  
}
textarea {
  display: block;
  margin: 0.2rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(39, 126, 77); background-color: rgb(180, 228, 201);
}
textarea:hover {
  background-color: rgb(83, 126, 243);
  
}
button:hover {
 margin: 0.8rem; transform: scale(1.5);
background-color: rgb(83, 126, 243);
}
p {
background-color: rgb(180, 228, 201);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

/*estilo para pantallas grandes */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  
}



/*estilo para pantallas extra grandes */
@media screen and (min-width: 1280px) {
}
  
